---
// @ts-ignore
import { Icon } from "astro-icon";
---

<footer class="flex flex-col items-center justify-center my-10">
  <div class="text-center grid grid-cols-3 gap-5">
    <a
      href="https://www.facebook.com/profile.php?id=100094498965632"
      class="p-2 w-12 h-12"><Icon name="ic:baseline-facebook" /></a
    >
    <a href="https://www.tiktok.com/@buybuddy.me" class="p-2 w-12 h-12"
      ><Icon name="ic:baseline-tiktok" /></a
    >
    <a href="https://www.instagram.com/buybuddyai/" class="p-2 w-12 h-12"
      ><Icon name="mdi:instagram" /></a
    >
    <a href="https://www.linkedin.com/company/buybuddyai/" class="p-2 w-12 h-12"
      ><Icon name="mdi:linkedin" /></a
    >
    <a
      href="https://www.youtube.com/channel/UCfzrlfW3v7GbMB3Tn8059jA"
      class="p-2 w-12 h-12"><Icon name="mdi:youtube" /></a
    >
    <a href="https://twitter.com/BuyBuddyAI" class="p-2 w-12 h-12"
      ><Icon name="mdi:twitter" /></a
    >
  </div>
  <p class="text-center text-sm text-slate-500">
    Copyright Â© {new Date().getFullYear()} BuyBuddy. All rights reserved.
  </p>
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  <!-- <p class="text-center text-xs text-slate-500 mt-1">
    Made with <a
      href="https://web3templates.com"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Astroship
    </a>
  </p> -->
</footer>
