---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/logo.jpg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block h-5/6">
    <Picture
      src={heroImage}
      alt="logo showing shopping cart with cloud as background"
      widths={[200, 400, 1000]}
      aspectRatio="1:1"
      sizes="(max-width: 800px) 100vw, 420px"
      loading="eager"
      format="avif"
      class="rounded-full shadow-xl"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Your Personalized AI Shopping Assistant
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Shopping online can sometimes feel like finding a needle in a haystack.
      With thousands of options to choose from, how do you ensure you’re making
      the best choice for your needs and budget? That's where BuyBuddy comes in!
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        style="outline"
        class="flex gap-1 items-center justify-center rounded-full"
        rel="noopener">
        <Icon class="w-5 h-5" name="maki:arrow" />

        Try for Free
      </Link>
    </div>
  </div>
</main>
